// Twisted Spot Palette on #E0D3A5

$beige: #E0D3A5;
$dark-blue: #00755F;
$light-blue: #C4FCF1;
$blue: #659B91;

$title: 'Sigmar', cursive;
$text: 'Grandstander', cursive;

#root {
  font-family: $text;
  font-weight: light;
  line-height: 30px;
  h1 {
    font-family: $title;
    letter-spacing: 3px;
    font-size: 50px;
    text-shadow: 0px 0px 10px $blue;
  }
}

.board {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba($beige, 0.8);
  margin: auto auto;
  height: 90vh;
  width: 90vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.game-area {

}

.btn {
  padding-inline: 20px;
  padding-block: 10px;
  background-color: $blue;
  border-radius: 5px;
  font-weight: 900;
  font-family: $text;
  font-size: 20px;
  &:hover {
    background-color: $dark-blue;
    transition: 0.5s ease-out;
  }
}

.die {

}
